.inner-row {
  border: 2px solid #000;
  background-color: #AEBF8E;
}

.hideClass {
  display: none;
}

.custom-btn {
  background-color: #4F8085;
}

.custom-btn:hover, .custom-btn:active, .custom-btn:focus {
  background-color: #4F8085;
}

.waves-effect.waves-custom .waves-ripple {
  background-color: rgba(209, 209, 169, 0.65)
}

.accountInfo {
  display: none;
}

.header{
  color: #D1DBA9;
  background-color: #0D4459;
  padding: 3%;
  margin-bottom: 2%;
  border: #D1DBA9 solid 2px;
  outline: #60785F solid 2px;
  -webkit-box-shadow: -1px 20px 26px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 20px 26px -12px rgba(0,0,0,0.75);
  box-shadow: -1px 20px 26px -12px rgba(0,0,0,0.75);
}

.transactions {
  width: 35%;
  display: none;
}

h1 {
  font-family: 'Vast Shadow', cursive;
  text-shadow: 2px 2px 3px #AEBF8E,
              -1px -2px 4px #AEBF8E;
}
body, p, form, input, label, button, span {
  font-family: 'Heebo', sans-serif;
}

h2, h3, h4, h5 ,h6 {
  font-family: 'Playfair Display', serif;
}
h2 {
  font-size: 28px;
  line-height: 29px;
}

h3 {
  font-size: 22px;
  line-height: 23px;
}

.master {
  margin-top: 4%;
}

.master-row {
    display: flex;
    flex-wrap:wrap;

}

.inner-row {
  margin: 5px;
  padding: 3px;
}
